@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: rgb(10, 10, 10);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  background-image: linear-gradient(black 40%, white);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-blend-mode: hue;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

.container h1 {
  color:wheat;
  padding: 40px;
  margin: 10px
}

.container img {
  height: 50%;
  width: 50%;
}
button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  color: wheat;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.search-container {
  display: flex;
  justify-content: center;
  color:wheat;
  padding: 1rem;
}

.search-location {
  font-size: 27px;
}

.search-category {
  font-size: 27px;
}

.search-button {
  font-size: 14px;
  color: black;
  background-color: white;
}

.businesses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgb(239, 231, 231);
}

.busi p {
  background-color: black;
  color: whitesmoke;
}
.busi img {
  height: auto;
  width: auto;
  max-height: 200px;
}


.restaurant-container {
  display: flex;
  color: wheat;
  margin: auto;
  width: 20%;
  padding: 10px;
  justify-content: center;
  align-items:flex-start;
}

#address-label {
  size: 10px;
}

#delivery-pickup {
  font-size: 16px;
}

#reviews {
  margin: 21%;

}

.review-form-container label {
  color:wheat;
  background-color: black;
  font-size: 20px;
}

.restaurant-reviews label {
  justify-content: center;
}


.restaurant img {
  height: auto;
  width: auto;
  max-height: 400px;
}

.reviewform {
  float: left;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: wheat;
  font-size: x-large;
}

.about h1 {
  margin:2rem;
  padding: 1rem;
}

.about h2 {
  margin:2rem;
  padding: 1rem;

}

.customer-search {
  color: wheat;
}

.customer-search button {
  color: wheat;
  font-size: 12px;
  line-height: 10px;
  padding: 5px;
  border-radius: 8px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.Admin {
  text-align: center;
  color: wheat;
  padding: 5rem;
}

.Admin label {
  color: wheat;
}

.Admin input {
margin: 5px;
}

.customer-container {
  text-align: center;
  width: 100%;
  color: wheat;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-content: space-around;
  flex-direction: column;  
}

.customer-table th, td {
  border: 1px solid;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: aliceblue;
}

footer {
  color:wheat;
  position: absolute;
  font-size: 1.2rem;
  left: 0;
  padding: 2rem;
  text-align: center;
  width: 100%;
  bottom: inherit;
}
